@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600&display=swap);

@charset "UTF-8";

*:not(p) {
  padding: 0;
  margin: 0;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

[class*=_wrapper] {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

[class*=_wrapper] > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=_wrapper] > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 94.4375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.quiz {
  max-width: 106.25rem;
  background-color: #FCFCFC;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /* .quiz__container */
  /* .quiz__wrapper */
  /* .quiz__left-sidebar */
  /* .quiz__content */
}

.quiz__close {
  position: absolute;
  top: 11px;
  right: 30px;
}

.quiz__container-qz {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 82.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.quiz__wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: inherit;
}

.quiz__left-sidebar {
  background-color: #F8F8F8;
}

.sidebar-quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #262626;
  padding: 1.375rem;
  max-width: 18.6875rem;
  width: 100%;
  text-align: center;
  /* .sidebar-quiz__text */
  /* .sidebar-quiz__counter */
  /* .sidebar-quiz__img */
}

.sidebar-quiz__text {
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 123.8095238095%;
  margin-bottom: 3.0625rem;
}

.sidebar-quiz__counter {
  font-weight: 600;
  font-size: 33px;
  line-height: 67%;
  text-transform: uppercase;
}

.sidebar-quiz__counter:not(:last-child) {
  margin-bottom: 5.25rem;
}

.sidebar-quiz__img {
  position: relative;
}

.sidebar-quiz__img::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 100%;
  height: 100%;
  background: rgba(14, 204, 221, 0.7);
  border-radius: 50%;
  -webkit-filter: blur(51px);
          filter: blur(51px);
}

.sidebar-quiz__img img {
  position: relative;
}

.content-quiz {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 64px 21px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  /* .content-quiz__progress */
}

.content-quiz::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 21px;
  width: 150%;
  height: 1px;
  background-color: #BDBDBD;
}

.content-quiz__progress {
  margin-bottom: 3.9375rem;
}

.quiz-form {
  color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  /* .quiz-form__fieldset */
  /* .quiz-form__head */
  /* .quiz-form__title */
  /* .quiz-form__counters */
  /* .quiz-form__body */
  /* .quiz-form__actions */
  /* .quiz-form__button */
}

.quiz-form__fieldset {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quiz-form__fieldset:not(:last-child) {
  margin-bottom: 1.875rem;
}

.quiz-form__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.1875rem;
}

.quiz-form__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 88%;
  text-transform: uppercase;
}

.quiz-form__counters {
  font-weight: 600;
  line-height: 54%;
  text-transform: uppercase;
  color: #BDBDBD;
}

@supports (font-size: clamp( 1.75rem , 1.5370597871rem  +  1.0647010647vw , 2.5625rem )) {
  .quiz-form__counters {
    font-size: clamp( 1.75rem , 1.5370597871rem  +  1.0647010647vw , 2.5625rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5370597871rem  +  1.0647010647vw , 2.5625rem )) {
  .quiz-form__counters {
    font-size: calc(1.75rem + 0.8125 * (100vw - 20rem) / 76.3125);
  }
}

.quiz-form__body {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(312px, 1fr));
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 2rem;
}

.quiz-form__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.625rem;
}

.quiz-form__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22.1875rem;
          flex: 0 1 22.1875rem;
  min-width: 9.375rem;
  padding: 1.0625rem;
  font-weight: 500;
  line-height: 88%;
  text-transform: uppercase;
  border: 1px solid #0ECCDD;
  border-radius: 17px;
}

@supports (font-size: clamp( 1rem , 0.8525798526rem  +  0.7371007371vw , 1.5625rem )) {
  .quiz-form__button {
    font-size: clamp( 1rem , 0.8525798526rem  +  0.7371007371vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8525798526rem  +  0.7371007371vw , 1.5625rem )) {
  .quiz-form__button {
    font-size: calc(1rem + 0.5625 * (100vw - 20rem) / 76.3125);
  }
}

.quiz-form__button span {
  padding-left: 21px;
  background: url("../img/quiz/icon-arrow.svg") left no-repeat;
}

.body-quiz {
  /* .body-quiz__label */
  /* .body-quiz__radio */
  /* .body-quiz__item */
  /* .body-quiz__img */
  /* .body-quiz__description */
  /* .body-quiz__label-title */
  /* .body-quiz__text-input*/
}

.body-quiz__label {
  cursor: pointer;
}

.body-quiz__label._active .body-quiz__item .body-quiz__img {
  -webkit-filter: drop-shadow(0px 0px 18px #0ECCDD);
          filter: drop-shadow(0px 0px 18px #0ECCDD);
}

.body-quiz__text-block {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.body-quiz__radio {
  width: 0;
  height: 0;
  /* 	&:checked{
  		&+.body-quiz__item .body-quiz__img  {
  			filter: drop-shadow(0px 0px 18px #0ECCDD);
  		}
  	} */
}

.body-quiz__img {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  padding-top: 51.54%;
  margin-bottom: 1.6875rem;
}

.body-quiz__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.body-quiz__description {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
}

.body-quiz__label-title {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: inherit;
  margin-bottom: 1.5rem;
}

.body-quiz__text-input {
  border: 1px solid #858585;
  border-radius: 7px;
  padding: 0 0.9375rem;
  min-width: 15.5rem;
  max-width: 24.125rem;
  width: 100%;
  height: 3.125rem;
  font-size: 25px;
}

.body-quiz__text-input:focus-visible {
  outline-color: #0ECCDD;
}

._close {
  border-color: #BDBDBD;
}

.header {
  position: relative;
  background-color: #fff;
  /* .header__container */
  /* .header__body */
  /* .header__logo */
  /* .header__phone */
}

.header__body {
  padding: 0.375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (min-height: clamp( 3.75rem , 3.3896396396rem  +  1.8018018018vw , 5.125rem )) {
  .header__body {
    min-height: clamp( 3.75rem , 3.3896396396rem  +  1.8018018018vw , 5.125rem );
  }
}

@supports not (min-height: clamp( 3.75rem , 3.3896396396rem  +  1.8018018018vw , 5.125rem )) {
  .header__body {
    min-height: calc(3.75rem + 1.375 * (100vw - 20rem) / 76.3125);
  }
}

@supports (max-width: clamp( 9.1875rem , 5.2890561016rem  +  19.4922194922vw , 24.0625rem )) {
  .header__logo {
    max-width: clamp( 9.1875rem , 5.2890561016rem  +  19.4922194922vw , 24.0625rem );
  }
}

@supports not (max-width: clamp( 9.1875rem , 5.2890561016rem  +  19.4922194922vw , 24.0625rem )) {
  .header__logo {
    max-width: calc(9.1875rem + 14.875 * (100vw - 20rem) / 76.3125);
  }
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__phone {
  padding-left: 0.625rem;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background-color: #2D2D2D;
  /* .footer__container */
  /* .footer__body */
}

@supports (padding-top: clamp( 0.9375rem , 0.0693591319rem  +  4.3407043407vw , 4.25rem )) {
  .footer {
    padding-top: clamp( 0.9375rem , 0.0693591319rem  +  4.3407043407vw , 4.25rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.0693591319rem  +  4.3407043407vw , 4.25rem )) {
  .footer {
    padding-top: calc(0.9375rem + 3.3125 * (100vw - 20rem) / 76.3125);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2525593776rem  +  3.1122031122vw , 4.25rem )) {
  .footer {
    padding-bottom: clamp( 1.875rem , 1.2525593776rem  +  3.1122031122vw , 4.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2525593776rem  +  3.1122031122vw , 4.25rem )) {
  .footer {
    padding-bottom: calc(1.875rem + 2.375 * (100vw - 20rem) / 76.3125);
  }
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  /* .body-footer__logo */
  /* .body-footer__text */
  /* .body-footer__info */
}

.body-footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 23.9375rem;
          flex: 0 1 23.9375rem;
}

.body-footer__text {
  font-weight: 600;
  text-transform: uppercase;
  color: #FAFAFA;
}

@supports (font-size: clamp( 0.625rem , 0.3956797707rem  +  1.1466011466vw , 1.5rem )) {
  .body-footer__text {
    font-size: clamp( 0.625rem , 0.3956797707rem  +  1.1466011466vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.3956797707rem  +  1.1466011466vw , 1.5rem )) {
  .body-footer__text {
    font-size: calc(0.625rem + 0.875 * (100vw - 20rem) / 76.3125);
  }
}

.logo-footer img {
  width: 100%;
}

.info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  /* .info-footer__column */
  /* .info-footer__title */
  /* .info-footer__address */
  /* .info-footer__phone */
}

@supports (padding-right: clamp( 0.0000000625rem , -2.1294020505rem  +  10.6470105651vw , 8.125rem )) {
  .info-footer__column {
    padding-right: clamp( 0.0000000625rem , -2.1294020505rem  +  10.6470105651vw , 8.125rem );
  }
}

@supports not (padding-right: clamp( 0.0000000625rem , -2.1294020505rem  +  10.6470105651vw , 8.125rem )) {
  .info-footer__column {
    padding-right: calc(0.0000000625rem + 8.1249999375 * (100vw - 20rem) / 76.3125);
  }
}

.info-footer__title {
  font-weight: 600;
  line-height: 131.9%;
  /* or 33px */
  text-transform: uppercase;
  color: #FAFAFA;
}

@supports (font-size: clamp( 0.625rem , 0.3792997543rem  +  1.2285012285vw , 1.5625rem )) {
  .info-footer__title {
    font-size: clamp( 0.625rem , 0.3792997543rem  +  1.2285012285vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.3792997543rem  +  1.2285012285vw , 1.5625rem )) {
  .info-footer__title {
    font-size: calc(0.625rem + 0.9375 * (100vw - 20rem) / 76.3125);
  }
}

.info-footer__address {
  font-weight: 600;
  font-style: normal;
  line-height: 131.9%;
  color: #FAFAFA;
}

@supports (font-size: clamp( 0.5rem , 0.2870597871rem  +  1.0647010647vw , 1.3125rem )) {
  .info-footer__address {
    font-size: clamp( 0.5rem , 0.2870597871rem  +  1.0647010647vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 0.5rem , 0.2870597871rem  +  1.0647010647vw , 1.3125rem )) {
  .info-footer__address {
    font-size: calc(0.5rem + 0.8125 * (100vw - 20rem) / 76.3125);
  }
}

.info-footer__phone {
  font-weight: 600;
  line-height: 131.9%;
  /* or 28px */
  color: #FAFAFA;
}

@supports (font-size: clamp( 0.5rem , 0.2870597871rem  +  1.0647010647vw , 1.3125rem )) {
  .info-footer__phone {
    font-size: clamp( 0.5rem , 0.2870597871rem  +  1.0647010647vw , 1.3125rem );
  }
}

@supports not (font-size: clamp( 0.5rem , 0.2870597871rem  +  1.0647010647vw , 1.3125rem )) {
  .info-footer__phone {
    font-size: calc(0.5rem + 0.8125 * (100vw - 20rem) / 76.3125);
  }
}

.page {
  /* .page__main */
}

.main-page {
  background-color: #FAFAFA;
  /* .main-page__container */
  /* .main-page__body */
}

.main-page__container {
  position: relative;
}

.main-page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.body-main {
  /* .body-main__content */
  /* .body-main__title */
  /* .body-main__survey */
  /* .body-main__image-bg */
  /* .body-main__contacts */
  /* .body-main__contacts-phone */
  /* .body-main__contacts-text */
}

.body-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46.6578424884%;
          flex: 0 1 46.6578424884%;
  min-width: 290px;
  padding: 7.625rem 0 6.25rem;
}

@supports (padding-top: clamp( 0.625rem , -1.2095618346rem  +  9.1728091728vw , 7.625rem )) {
  .body-main__content {
    padding-top: clamp( 0.625rem , -1.2095618346rem  +  9.1728091728vw , 7.625rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -1.2095618346rem  +  9.1728091728vw , 7.625rem )) {
  .body-main__content {
    padding-top: calc(0.625rem + 7 * (100vw - 20rem) / 76.3125);
  }
}

@supports (padding-bottom: clamp( 1.25rem , -0.0604013104rem  +  6.552006552vw , 6.25rem )) {
  .body-main__content {
    padding-bottom: clamp( 1.25rem , -0.0604013104rem  +  6.552006552vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , -0.0604013104rem  +  6.552006552vw , 6.25rem )) {
  .body-main__content {
    padding-bottom: calc(1.25rem + 5 * (100vw - 20rem) / 76.3125);
  }
}

.body-main__title {
  font-weight: 600;
  line-height: 131.9%;
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.9375rem , 0.5771396396rem  +  1.8018018018vw , 2.3125rem )) {
  .body-main__title {
    font-size: clamp( 0.9375rem , 0.5771396396rem  +  1.8018018018vw , 2.3125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.5771396396rem  +  1.8018018018vw , 2.3125rem )) {
  .body-main__title {
    font-size: calc(0.9375rem + 1.375 * (100vw - 20rem) / 76.3125);
  }
}

.body-main__title span {
  color: #0ECCDD;
}

@supports (margin-bottom: clamp( 0.6875rem , 0.5728398853rem  +  0.5733005733vw , 1.125rem )) {
  .body-main__title:not(:last-child) {
    margin-bottom: clamp( 0.6875rem , 0.5728398853rem  +  0.5733005733vw , 1.125rem );
  }
}

@supports not (margin-bottom: clamp( 0.6875rem , 0.5728398853rem  +  0.5733005733vw , 1.125rem )) {
  .body-main__title:not(:last-child) {
    margin-bottom: calc(0.6875rem + 0.4375 * (100vw - 20rem) / 76.3125);
  }
}

.body-main__image-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.body-main__contacts {
  position: absolute;
  z-index: 10;
  right: 15px;
  max-width: 12.8125rem;
}

.body-main__contacts-phone {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-align: center;
}

.no-webp .body-main__contacts-phone::before{
  background: url("../img/icons/main/icon-telephone.png") right no-repeat; }

.body-main__contacts-phone::before {
  content: "";
  display: none;
  margin-right: 0.4375rem;
  width: 0.8125rem;
  height: 0.8125rem;
}

.body-main__contacts-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.survey {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* .survey__text */
  /* .survey__items */
  /* .survey__item */
  /* .survey__num */
  /* .survey__descr */
  /* .survey__btn-quiz */
}

.survey__text {
  font-weight: 400;
}

@supports (font-size: clamp( 0.75rem , 0.5370597871rem  +  1.0647010647vw , 1.5625rem )) {
  .survey__text {
    font-size: clamp( 0.75rem , 0.5370597871rem  +  1.0647010647vw , 1.5625rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5370597871rem  +  1.0647010647vw , 1.5625rem )) {
  .survey__text {
    font-size: calc(0.75rem + 0.8125 * (100vw - 20rem) / 76.3125);
  }
}

@supports (line-height: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .survey__text {
    line-height: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem );
  }
}

@supports not (line-height: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .survey__text {
    line-height: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 76.3125);
  }
}

.survey__text:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.survey__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin: 0 -10px;
}

@supports (gap: clamp( 0.0000000625rem , -0.6552005763rem  +  3.2760031941vw , 2.5rem )) {
  .survey__items {
    gap: clamp( 0.0000000625rem , -0.6552005763rem  +  3.2760031941vw , 2.5rem );
  }
}

@supports not (gap: clamp( 0.0000000625rem , -0.6552005763rem  +  3.2760031941vw , 2.5rem )) {
  .survey__items {
    gap: calc(0.0000000625rem + 2.4999999375 * (100vw - 20rem) / 76.3125);
  }
}

@supports (margin-bottom: clamp( 1.125rem , 0.7318796069rem  +  1.9656019656vw , 2.625rem )) {
  .survey__items:not(:last-child) {
    margin-bottom: clamp( 1.125rem , 0.7318796069rem  +  1.9656019656vw , 2.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.125rem , 0.7318796069rem  +  1.9656019656vw , 2.625rem )) {
  .survey__items:not(:last-child) {
    margin-bottom: calc(1.125rem + 1.5 * (100vw - 20rem) / 76.3125);
  }
}

.survey__item {
  padding: 0 10px;
}

.survey__num {
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #0ECCDD;
}

@supports (font-size: clamp( 0.875rem , 0.6129197379rem  +  1.3104013104vw , 1.875rem )) {
  .survey__num {
    font-size: clamp( 0.875rem , 0.6129197379rem  +  1.3104013104vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6129197379rem  +  1.3104013104vw , 1.875rem )) {
  .survey__num {
    font-size: calc(0.875rem + 1 * (100vw - 20rem) / 76.3125);
  }
}

@supports (line-height: clamp( 1.125rem , 0.8137796888rem  +  1.5561015561vw , 2.3125rem )) {
  .survey__num {
    line-height: clamp( 1.125rem , 0.8137796888rem  +  1.5561015561vw , 2.3125rem );
  }
}

@supports not (line-height: clamp( 1.125rem , 0.8137796888rem  +  1.5561015561vw , 2.3125rem )) {
  .survey__num {
    line-height: calc(1.125rem + 1.1875 * (100vw - 20rem) / 76.3125);
  }
}

.survey__descr {
  font-weight: 400;
}

@supports (font-size: clamp( 0.5625rem , 0.4642199017rem  +  0.4914004914vw , 0.9375rem )) {
  .survey__descr {
    font-size: clamp( 0.5625rem , 0.4642199017rem  +  0.4914004914vw , 0.9375rem );
  }
}

@supports not (font-size: clamp( 0.5625rem , 0.4642199017rem  +  0.4914004914vw , 0.9375rem )) {
  .survey__descr {
    font-size: calc(0.5625rem + 0.375 * (100vw - 20rem) / 76.3125);
  }
}

@supports (line-height: clamp( 0.6875rem , 0.5728398853rem  +  0.5733005733vw , 1.125rem )) {
  .survey__descr {
    line-height: clamp( 0.6875rem , 0.5728398853rem  +  0.5733005733vw , 1.125rem );
  }
}

@supports not (line-height: clamp( 0.6875rem , 0.5728398853rem  +  0.5733005733vw , 1.125rem )) {
  .survey__descr {
    line-height: calc(0.6875rem + 0.4375 * (100vw - 20rem) / 76.3125);
  }
}

.survey__btn-quiz {
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: #0ECCDD;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

@supports (font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .survey__btn-quiz {
    font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .survey__btn-quiz {
    font-size: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 76.3125);
  }
}

@supports (line-height: clamp( 1.125rem , 0.8137796888rem  +  1.5561015561vw , 2.3125rem )) {
  .survey__btn-quiz {
    line-height: clamp( 1.125rem , 0.8137796888rem  +  1.5561015561vw , 2.3125rem );
  }
}

@supports not (line-height: clamp( 1.125rem , 0.8137796888rem  +  1.5561015561vw , 2.3125rem )) {
  .survey__btn-quiz {
    line-height: calc(1.125rem + 1.1875 * (100vw - 20rem) / 76.3125);
  }
}

@supports (padding-right: clamp( 2.4375rem , 4.093980344rem  +  -1.7199017199vw , 3.75rem )) {
  .survey__btn-quiz {
    padding-right: clamp( 2.4375rem , 4.093980344rem  +  -1.7199017199vw , 3.75rem );
  }
}

@supports not (padding-right: clamp( 2.4375rem , 4.093980344rem  +  -1.7199017199vw , 3.75rem )) {
  .survey__btn-quiz {
    padding-right: calc(3.75rem + -1.3125 * (100vw - 20rem) / 76.3125);
  }
}

@supports (padding-left: clamp( 2.4375rem , 4.093980344rem  +  -1.7199017199vw , 3.75rem )) {
  .survey__btn-quiz {
    padding-left: clamp( 2.4375rem , 4.093980344rem  +  -1.7199017199vw , 3.75rem );
  }
}

@supports not (padding-left: clamp( 2.4375rem , 4.093980344rem  +  -1.7199017199vw , 3.75rem )) {
  .survey__btn-quiz {
    padding-left: calc(3.75rem + -1.3125 * (100vw - 20rem) / 76.3125);
  }
}

.advantages-page {
  position: relative;
  -webkit-box-shadow: 0px 8px 41px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 41px -5px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  /* .advantages-page__container */
  /* .advantages-page__body */
}

.body-advantages-page {
  /* .body-advantages-page__items */
  /* .body-advantages-page__item */
}

.body-advantages-page__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding: 3.4375rem 0 1.4375rem;
}

.body-advantages-page__item {
  position: relative;
  padding: 0 2.1875rem;
}

.body-advantages-page__item img {
  width: 3.625rem;
  height: 3.625rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -o-object-fit: contain;
     object-fit: contain;
}

.body-advantages-page__item:not(:first-child) {
  /* 	&::before{
  	content:'';
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 2px;
  	height: 100%;
  	background-color: #000;
  } */
  border-left: 2px solid #000000;
}

.item-advantages-page {
  /* .item-advantages-page__head */
  /* .item-advantages-page__title */
  /* .item-advantages-page__text */
}

.item-advantages-page__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.625rem;
}

.item-advantages-page__head:not(:last-child) {
  margin-bottom: 0.6875rem;
}

.item-advantages-page__title {
  font-weight: 600;
  line-height: 120.8333333333%;
  text-transform: uppercase;
  padding-left: 11px;
}

@supports (font-size: clamp( 1rem , 0.868959869rem  +  0.6552006552vw , 1.5rem )) {
  .item-advantages-page__title {
    font-size: clamp( 1rem , 0.868959869rem  +  0.6552006552vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.868959869rem  +  0.6552006552vw , 1.5rem )) {
  .item-advantages-page__title {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 76.3125);
  }
}

.item-advantages-page__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 123.5294117647%;
}

.catalog-page {
  /* .catalog-page__title */
  /* .catalog-page__container */
  /* .catalog-page__body */
}

@supports (padding-bottom: clamp( 2.5rem , 1.5171990172rem  +  4.914004914vw , 6.25rem )) {
  .catalog-page {
    padding-bottom: clamp( 2.5rem , 1.5171990172rem  +  4.914004914vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.5171990172rem  +  4.914004914vw , 6.25rem )) {
  .catalog-page {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 76.3125);
  }
}

.catalog-page__title {
  background-color: #FAFAFA;
  font-weight: 600;
  line-height: 131.9%;
  text-transform: uppercase;
  padding: 0.9375rem 0;
  text-align: center;
}

@supports (font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .catalog-page__title {
    font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .catalog-page__title {
    font-size: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 76.3125);
  }
}

@supports (margin-bottom: clamp( 1.5rem , 0.8611793612rem  +  3.1941031941vw , 3.9375rem )) {
  .catalog-page__title:not(:last-child) {
    margin-bottom: clamp( 1.5rem , 0.8611793612rem  +  3.1941031941vw , 3.9375rem );
  }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.8611793612rem  +  3.1941031941vw , 3.9375rem )) {
  .catalog-page__title:not(:last-child) {
    margin-bottom: calc(1.5rem + 2.4375 * (100vw - 20rem) / 76.3125);
  }
}

.body-catalog {
  /* .body-catalog__row */
  /* .body-catalog__item */
}

.body-catalog__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42.3560555923% 1fr 1fr;
  grid-template-columns: 42.3560555923% 1fr 1fr;
  gap: 1.6875rem;
}

.body-catalog__row:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.body-catalog__row:nth-child(even) {
  -ms-grid-columns: 1fr 1fr 42.3560555923%;
  grid-template-columns: 1fr 1fr 42.3560555923%;
}

.body-catalog__item {
  background-color: #FAFAFA;
  padding: 6.25rem 1.25rem 2.5625rem;
}

.item-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .item-catalog__img */
  /* .item-catalog__content */
  /* .item-catalog__title */
  /* .item-catalog__price */
  /* .item-catalog__btn */
}

.item-catalog__img {
  position: relative;
  width: 100%;
  min-height: 17.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.item-catalog__img:not(:last-child) {
  margin-bottom: 3.125rem;
}

.item-catalog__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.item-catalog__content {
  text-align: center;
}

.item-catalog__title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  text-transform: uppercase;
}

.item-catalog__title:not(:last-child) {
  margin-bottom: 0.5625rem;
}

.item-catalog__price {
  font-size: 1.3125rem;
  line-height: 123.8095238095%;
}

.item-catalog__price:not(:last-child) {
  margin-bottom: 1.6875rem;
}

.item-catalog__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #0ECCDD;
  font-weight: 600;
  font-size: 0.9375rem;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 7px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

@supports (padding-right: clamp( 1.25rem , 0.9387796888rem  +  1.5561015561vw , 2.4375rem )) {
  .item-catalog__btn {
    padding-right: clamp( 1.25rem , 0.9387796888rem  +  1.5561015561vw , 2.4375rem );
  }
}

@supports not (padding-right: clamp( 1.25rem , 0.9387796888rem  +  1.5561015561vw , 2.4375rem )) {
  .item-catalog__btn {
    padding-right: calc(1.25rem + 1.1875 * (100vw - 20rem) / 76.3125);
  }
}

@supports (padding-left: clamp( 1.25rem , 0.9387796888rem  +  1.5561015561vw , 2.4375rem )) {
  .item-catalog__btn {
    padding-left: clamp( 1.25rem , 0.9387796888rem  +  1.5561015561vw , 2.4375rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , 0.9387796888rem  +  1.5561015561vw , 2.4375rem )) {
  .item-catalog__btn {
    padding-left: calc(1.25rem + 1.1875 * (100vw - 20rem) / 76.3125);
  }
}

.page {
  /* .page__about */
}

@supports (padding-bottom: clamp( 1.875rem , 1.3016994267rem  +  2.8665028665vw , 4.0625rem )) {
  .page__about {
    padding-bottom: clamp( 1.875rem , 1.3016994267rem  +  2.8665028665vw , 4.0625rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3016994267rem  +  2.8665028665vw , 4.0625rem )) {
  .page__about {
    padding-bottom: calc(1.875rem + 2.1875 * (100vw - 20rem) / 76.3125);
  }
}

.about-page {
  /* .about-page__title */
  /* .about-page__container */
  /* .about-page__body */
}

.about-page__title {
  background-color: #FAFAFA;
  font-weight: 600;
  line-height: 131.9%;
  text-transform: uppercase;
  padding: 0.9375rem 0;
}

@supports (font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .about-page__title {
    font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.6917997543rem  +  1.2285012285vw , 1.875rem )) {
  .about-page__title {
    font-size: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 76.3125);
  }
}

@supports (margin-bottom: clamp( 1.5rem , 0.8611793612rem  +  3.1941031941vw , 3.9375rem )) {
  .about-page__title:not(:last-child) {
    margin-bottom: clamp( 1.5rem , 0.8611793612rem  +  3.1941031941vw , 3.9375rem );
  }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.8611793612rem  +  3.1941031941vw , 3.9375rem )) {
  .about-page__title:not(:last-child) {
    margin-bottom: calc(1.5rem + 2.4375 * (100vw - 20rem) / 76.3125);
  }
}

.body-about {
  /* .body-about__list */
}

.list-about {
  /* .list-about__item */
  /* .list-about__title */
  /* .list-about__text */
}

.list-about__item {
  position: relative;
  max-width: 75.8125rem;
  padding-left: 5.25rem;
}

@supports (margin-bottom: clamp( 1.875rem , 1.5965397215rem  +  1.3923013923vw , 2.9375rem )) {
  .list-about__item:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5965397215rem  +  1.3923013923vw , 2.9375rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5965397215rem  +  1.3923013923vw , 2.9375rem )) {
  .list-about__item:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.0625 * (100vw - 20rem) / 76.3125);
  }
}

.list-about__item::before {
  content: "";
  position: absolute;
  top: 0.9375rem;
  left: 0;
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 50%;
  background-color: #0ECCDD;
}

.list-about__title {
  font-weight: 600;
  line-height: 137.9%;
  text-transform: uppercase;
}

@supports (font-size: clamp( 0.625rem , 0.4611998362rem  +  0.819000819vw , 1.25rem )) {
  .list-about__title {
    font-size: clamp( 0.625rem , 0.4611998362rem  +  0.819000819vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.4611998362rem  +  0.819000819vw , 1.25rem )) {
  .list-about__title {
    font-size: calc(0.625rem + 0.625 * (100vw - 20rem) / 76.3125);
  }
}

.list-about__text {
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 137.9%;
}

@supports (font-size: clamp( 0.625rem , 0.4611998362rem  +  0.819000819vw , 1.25rem )) {
  .list-about__text {
    font-size: clamp( 0.625rem , 0.4611998362rem  +  0.819000819vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.4611998362rem  +  0.819000819vw , 1.25rem )) {
  .list-about__text {
    font-size: calc(0.625rem + 0.625 * (100vw - 20rem) / 76.3125);
  }
}

@media (min-width: 47.99875em) {
  .header__phone {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 61.99875em) {
  .quiz__wrapper {
    min-height: 48.75rem;
  }

  .body-main__image-bg {
    margin-right: -200px;
    width: 66.2475181999%;
  }

  .body-main__contacts {
    top: 14px;
    text-align: right;
  }

  .body-main__contacts-phone:not(:last-child) {
    margin-bottom: 0.6875rem;
  }

  .advantages-page {
    top: -26px;
    margin-bottom: 5.375rem;
  }
}

@media (max-width: 86.25em) {
  .body-advantages-page__items {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .body-advantages-page__item:not(:first-child) {
    border-left: none;
    border-top: 2px solid #000000;
  }

  .body-advantages-page__item {
    padding-top: 0.9375rem;
    padding-bottom: 1.375rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
}

@media (max-width: 76.875em) {
  .body-catalog__row,
  .body-catalog__row:nth-child(even) {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }

  .body-catalog__item {
    padding: 1.875rem 1.25rem 1.9375rem;
  }
}

@media (max-width: 61.99875em) {
  .info-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-page__body {
    display: block;
  }

  .body-main__title {
    text-align: center;
  }

  .body-main__contacts {
    bottom: 0;
    -webkit-transform: translateY(70%);
        -ms-transform: translateY(70%);
            transform: translateY(70%);
  }

  .body-main__contacts-phone {
    font-size: 13px;
    line-height: 16px;
    background-color: #FF8686;
    border-radius: 8px;
    padding: 0.4375rem 0.9375rem;
  }

  .body-main__contacts-phone::before {
    display: inline-block;
  }

  .body-main__contacts-text {
    display: none;
  }

  .survey__text {
    text-align: center;
  }

  .survey__descr {
    text-align: center;
  }

  .survey__btn-quiz {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .advantages-page {
    margin: 1.5625rem 1.875rem 2.75rem;
  }

  .body-advantages-page__items {
    padding-top: 1.875rem;
  }

  .body-catalog__row,
  .body-catalog__row:nth-child(even) {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .about-page__title {
    text-align: center;
  }

  .list-about__item {
    padding-left: 1.75rem;
  }

  .list-about__item::before {
    width: 0.75rem;
    height: 0.75rem;
  }
}

@media (max-width: 47.99875em) {
  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .body-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 10rem;
            flex: 0 1 10rem;
  }

  .body-advantages-page__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }

  .item-advantages-page__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .item-advantages-page__text {
    text-align: center;
  }

  .body-catalog__row,
  .body-catalog__row:nth-child(even) {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}

@media (max-width: 86.25em) and (min-width: 47.99875em) {
  .body-advantages-page__item:not(:first-child):nth-child(2) {
    border-top: none;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .body-catalog__item:last-child {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (any-hover: hover) {
  .info-footer__phone:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .body-main__contacts-phone:hover {
    text-decoration: underline;
  }

  .survey__btn-quiz:hover {
    -webkit-filter: drop-shadow(0px 0px 15px #0ECCDD);
            filter: drop-shadow(0px 0px 15px #0ECCDD);
  }

  .item-catalog__btn:hover {
    -webkit-filter: drop-shadow(0px 0px 15px #0ECCDD);
            filter: drop-shadow(0px 0px 15px #0ECCDD);
  }
}

.webp .body-main__contacts-phone::before{ background: url(../img/icons/main/icon-telephone.webp) right no-repeat; }